html, body {
    margin: 0px;
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    background-color: #E5EDF5;
   
    /* Reminder: Da stavime font of Google web fonts */
}

.border-radius{
    border-radius: 5px;
}
.wrapper{
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height:100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color:#E5EDF5;
        margin: 70px 0px 70px 0px;
      
}
.main{
    
    width:270px;
    padding: 35px;
    background-color:white;
    border-radius: 10px;
}
.column{
    display: flex;
    flex-direction: column;
    margin: 0px 40px 40px 40px;

}


label{
    display: inline-block;
    font-size: 15px;
    color:  #8D8D8D;
    margin-bottom: 5px;
}
.form-input{
    height: 30px;
    width: 100%;
    font-size: 18px;
    background-color:  #fff;
    border: 2px solid;
    border-color: #C6C6C6;
    box-sizing: border-box;
    margin-bottom: 15px;
    padding: 1em 0;
    
}
.button-solid{
    font-size: 15px;
    width: 100%;
    cursor: pointer;
    color: #fff;
    display: inline-block;
    border: 2px solid;
    border-color: #1DD1A1;
    background-color: #1DD1A1;
    height: 40px;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.17);
    padding: 0px;
    
    margin: 15px 0px 0px 0px;
}
.form-padding{
    /* padding:20px; */
}
.text-holder{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    color:  #8D8D8D;
}
.dashboard-container{
    width: 100%;
    min-height: 500px;
    background-color: #E5EDF5;

}
.dashboard-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.button-ghost{
    font-size: 15px;
    background: transparent;
    border: 2px solid;
    border-color: #576574;
    padding: 0.5em 1em;
    margin-left: 10px;
    cursor: pointer;
    outline-style:none;
    
}
 
.button-ghost-clicked{
    font-size: 15px;
    background: transparent;
    border: 2px solid;
    border-color: #1DD1A1;
    color: #1DD1A1;
    padding: 0.5em 1em;
    margin-left: 10px;
    outline-style:none;
    
}
.buttons-holder{
    padding: 20px;
    margin-left: 20px;
    
}
.avatar-holder{
    display: flex;
    align-items: center;
    padding: 20px;
    margin-right: 25px;

}

.dashboard-container-head{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0px;
    
  

}
h1{
    font-size: 22px;
    font-weight: bold;
    color: #000000; 
}
select{
   
    background: #fff;
    border: 2px solid;
    border-color: #C6C6C6;
    padding: 0.5em 1em;
    width: 150px;
    margin-left: 10px;
    outline-style:none;
}
table{

    text-align: left;
    border-collapse: separate;
    border-spacing: 0px 5px;
    border-right: none;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 70px;
     
}
th{

    font-size: 16px;
    color: #404040;
    padding-bottom: 15px;
    padding-left: 20px;
    border-bottom: 1px solid;
    border-color: #707070;
    background-color: #E5EDF5;
}
tr{
    font-size: 16px;
    color: #575757;
    background: #fff;
    padding: 20px;
    margin-bottom: 5px;
}
td{
    
    padding: 20px;
}

.fixed-button {
    position: fixed;
    bottom: 50px;
    right: 90px; 
    font-size: 15px;
    background-color: #576574;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.17);
    padding: 1em 2em;
    cursor: pointer;
    Color: #fff;
}
.tab-button{
    background: #1DD1A1;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    padding: 1em 2em;
    border: none;
    cursor: pointer;
    outline-style:none;
    margin: none;
    margin-left:-5px;
}
.tab-button-clicked{
    background:  #C9E5DD ;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    padding: 1em 2em;
    border: none;
    cursor: pointer;
    outline-style:none;
    margin-left:-5px;
}
.margin-left{
    margin-left: 25px;
    color: #4D4D4D; 
}
footer{
    position: fixed;
    bottom: 0px;
    right: 0px; 
    opacity: 0.5;
    filter: alpha(opacity=50);
    background-color: black;
    width: 100%;
    text-align: right;
    padding: 5px;

}
h2{
    color: white;
    margin-right: 50px;
}
.avatar-img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50px;
    margin-right: 15px;
}
/* .alert{
    visibility: hidden;
    display: flex;

    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;

} */
.alert-message{
    width: 440px;
    padding: 40px;
    color: #576574;
    background-color: white;
    border-radius: 15px;
}
.alert-message h2{
    color:#576574;
    margin-top: 0;
}
.delete-button-delete{
    font-size: 15px;
    background: #576574;
    box-shadow: 0px 0px 16px  rgba(0, 0, 0, 0.17);
    color: #fff ;
    padding: 0.5em 1em;
    border:2px solid;
    border-color: #576574;
}
.delete-button-cancel{
    font-size: 15px;
    font-weight: bold;
    background: #fff;
    color: #576574 ;
    padding: 0.5em 1em;
    border:2px solid;
    border-color: #fff;
}
.delete-button-cancel:hover{
    font-size: 15px;
    font-weight: bold;
    background-color: #fff;
    color: #576574 ;
    padding: 0.5em 1em;
    border: 2px solid;
}
.alert-button-holder{
    width: 100%;
    text-align: right;
    margin-bottom: 0px;
}


/* Proba za menuvanje na style */
#something {
    display: none;
  }
  
#something:target {    
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

#non-something{
   
}
#non-something:target{
    visibility: hidden;
}
.nav-link{
    text-decoration: none;
}

.create-product{
    display:flex;
    flex-direction: row;
    Box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.17);
    border-radius:10px;

}
.create-product-left{
    width:400px;
    padding: 35px;
    background-color:white;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.create-product-right{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    color:  #8D8D8D;
    background-color:#EDEDED;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
