html,
body {
  margin: 0px;
  width: 100%;
  height: 100%;
  font-family: sans-serif;
  background-color: #e5edf5;

  /* Reminder: Da stavime font of Google web fonts */
}

.border-radius {
  border-radius: 5px;
}
.wrapper {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e5edf5;
  margin: 70px 0px 70px 0px;
}
.main {
  width: 270px;
  padding: 35px;
  background-color: white;
  border-radius: 10px;
}
.column {
  display: flex;
  flex-direction: column;
  margin: 0px 40px 40px 40px;
}

label {
  display: inline-block;
  font-size: 15px;
  color: #8d8d8d;
  margin-bottom: 5px;
}
.form-input {
  height: 30px;
  width: 100%;
  font-size: 18px;
  background-color: #fff;
  border: 2px solid;
  border-color: #c6c6c6;
  box-sizing: border-box;
  margin-bottom: 15px;
  padding: 1em 0;
}
.button-solid {
  font-size: 15px;
  width: 100%;
  cursor: pointer;
  color: #fff;
  display: inline-block;
  border: 2px solid;
  border-color: #1dd1a1;
  background-color: #1dd1a1;
  height: 40px;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.17);
  padding: 0px;

  margin: 15px 0px 0px 0px;
}
.form-padding {
  /* padding:20px; */
}
.text-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  color: #8d8d8d;
}
.dashboard-container {
  width: 100%;
  min-height: 500px;
  background-color: #e5edf5;
}
.dashboard-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.button-ghost {
  font-size: 15px;
  background: transparent;
  border: 2px solid;
  border-color: #576574;
  padding: 0.5em 1em;
  margin-left: 10px;
  cursor: pointer;
  outline-style: none;
}

.button-ghost-clicked {
  font-size: 15px;
  background: transparent;
  border: 2px solid;
  border-color: #1dd1a1;
  color: #1dd1a1;
  padding: 0.5em 1em;
  margin-left: 10px;
  outline-style: none;
}
.buttons-holder {
  padding: 20px;
  margin-left: 20px;
}
.avatar-holder {
  display: flex;
  align-items: center;
  padding: 20px;
  margin-right: 25px;
}

.dashboard-container-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0px;
}
h1 {
  font-size: 22px;
  font-weight: bold;
  color: #000000;
}
select {
  background: #fff;
  border: 2px solid;
  border-color: #c6c6c6;
  padding: 0.5em 1em;
  width: 150px;
  margin-left: 10px;
  outline-style: none;
}
table {
  text-align: left;
  border-collapse: separate;
  border-spacing: 0px 5px;
  border-right: none;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 70px;
}
th {
  font-size: 16px;
  color: #404040;
  padding-bottom: 15px;
  padding-left: 20px;
  border-bottom: 1px solid;
  border-color: #707070;
  background-color: #e5edf5;
}
tr {
  font-size: 16px;
  color: #575757;
  background: #fff;
  padding: 20px;
  margin-bottom: 5px;
}
td {
  padding: 20px;
}

.fixed-button {
  position: fixed;
  bottom: 50px;
  right: 90px;
  font-size: 15px;
  background-color: #576574;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.17);
  padding: 1em 2em;
  cursor: pointer;
  color: #fff;
}
.tab-button {
  background: #1dd1a1;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  padding: 1em 2em;
  border: none;
  cursor: pointer;
  outline-style: none;
  margin: none;
  margin-left: -5px;
}
.tab-button-clicked {
  background: #c9e5dd;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  padding: 1em 2em;
  border: none;
  cursor: pointer;
  outline-style: none;
  margin-left: -5px;
}
.margin-left {
  margin-left: 25px;
  color: #4d4d4d;
}
footer {
  position: fixed;
  bottom: 0px;
  right: 0px;
  opacity: 0.5;
  filter: alpha(opacity=50);
  background-color: black;
  width: 100%;
  text-align: right;
  padding: 5px;
}
h2 {
  color: white;
  margin-right: 50px;
}
.avatar-img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50px;
  margin-right: 15px;
}

.logout-img {
  
  width: 35px;
  object-fit: cover;
  border-radius: 50px; 
  margin-left: 25px;
  background: url("./logout.png") no-repeat;
  display: inline-block;
}

.logout-img:hover{
 
  background: url("./logout1.png") no-repeat;
}

.logo-img {
  
  width: 200px;
  object-fit: cover;
  text-align: center;
  
}
.logo-container1{
 text-align: center;
 margin-bottom: 35px;
}

/* .alert{
    visibility: hidden;
    display: flex;

    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;

} */
.alert-message {
  width: 440px;
  padding: 40px;
  color: #576574;
  background-color: white;
  border-radius: 15px;
}

.alert-message h2 {
  color: #576574;
  margin-top: 0;
}
.delete-button-delete {
  font-size: 15px;
  background: #576574;
  color: #fff;
  padding: 0.5em 1em;
  border: 2px solid;
  border-color: #576574;
  cursor: pointer;
}
.delete-button-delete:hover {
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.2);
}
.delete-button-cancel {
  font-size: 15px;
  font-weight: bold;
  background: #fff;
  color: #576574;
  padding: 0.5em 1em;
  border: 1px solid;
  border-color: #fff;
  margin-right: 15px;
  cursor: pointer;
}
.delete-button-cancel:hover {
  font-size: 15px;
  font-weight: bold;
  background-color: #fff;
  color: #576574;
  padding: 0.5em 1em;
  border: 1px solid;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.2);
}
.alert-button-holder {
  width: 100%;
  text-align: right;
  margin-bottom: 0px;
}

/* Proba za menuvanje na style */
#something {
  display: none;
}

.alert {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 5s;
}
.space{
  min-height: 100px;
}

#non-something {
}
#non-something:target {
  visibility: hidden;
}
.nav-link {
  text-decoration: none;
}

.create-product {
  display: flex;
  flex-direction: row;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.17);
  border-radius: 10px;
}
.create-product-left {
  width: 400px;
  padding: 35px;
  background-color: white;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.create-product-right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: #8d8d8d;
  background-color: #ededed;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.edit-trash {
  cursor: pointer;
  transition-duration: 0.5s;
}
.edit-trash:hover{
  color:#1DD1A1;
}
.border-radius-left {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.border-radius-right {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
